HACKCLUB_CLIENT_ID=
HACKCLUB_CLIENT_SECRET=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

DATABASE_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

RESEND_API_KEY=

GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_DRIVE_REFRESH_TOKEN=