# Obtain a Hack Club Auth Client ID & secret at
# https://auth.hackclub.com/developer/apps
# You won't need this if you don't need to test the "Continue with Hack Club Auth" functionality.
HACKCLUB_CLIENT_ID=
HACKCLUB_CLIENT_SECRET=

# You should generate using the command "openssl rand -base64 32"
BETTER_AUTH_SECRET=
# Set this to your preferred localhost port.
# For the development team of LiterallyJustAFileHost, we use port 3000.
# e.g. BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_URL=

# This is a postgresql URL.
DATABASE_URL=

# You won't need this if you don't need to test the "Continue with Google" functionality.
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# You won't need this if you don't need to test the "Continue with GitHub" functionality.
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

RESEND_API_KEY=

GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_DRIVE_REFRESH_TOKEN=
