@import "tailwindcss";

:root {
  /*--background: #ffffff;
  --foreground: #050505;
  --accent: #894EFF;*/
  --background: #050505;
  --surface: #111111;
  --surface-2: #333333;
  --surface-3: #555555;
  --foreground: #ffffff;
  --foreground-active: #dbdbdb;
  --accent: #894EFF;
  --highlight: #B996FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050505;
    --surface: #111111;
    --surface-2: #333333;
    --surface-3: #555555;
    --foreground: #ffffff;
    --foreground-active: #dbdbdb;
    --accent: #894EFF;
    --highlight: #B996FF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "IBM Plex Sans", sans-serif;
}

button {
  cursor: pointer;
  padding: 0.35rem 0.75rem;
  border-radius: 8px;
}

button:disabled {
  cursor: not-allowed;
}

input:focus {
  outline: 0 !important;
}

.main-button {
  background-color: var(--accent);
  transition: all 150ms ease;
}

.main-button:hover {
  padding-inline: 1rem;
  transform: rotate(0.75deg);
}

.colourless-main-button {
  background-color: var(--foreground);
  color: var(--background);
  transition: background-color 150ms;
}

.colourless-main-button:hover {
  background-color: var(--foreground-active);
}

.text-accent {
  color: var(--highlight);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-surface {
  background-color: var(--surface);
}

.transition-default {
  transition: all 150ms;
}
