@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --accent: #894EFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

button {
  cursor: pointer;
  padding: 0.35rem 0.75rem;
  border-radius: 8px;
  font-size: 0.75rem;
}

.main-button {
  background-color: var(--accent);
  transition: all 150ms ease;
}

.main-button:hover {
  padding-inline: 1rem;
  transform: rotate(0.75deg);
}
